{% assign faqColor = section.settings %}
<style>
  section.main-faq-section {
    background-color:{{ faqColor.backgroundColor }} !important;
    padding: 0 0 50px;
}
.main-faq{
    overflow: hidden;
  	width: 50%;
    margin: 0 auto;
}
.main-tab {
    margin-top: 15px;
}
.main-faq .main-tab-toggle{
    display: none;
}
.main-faq .main-tab-label{
    background-color: {{ faqColor.backgroundTitleColor }};
    color: {{ faqColor.titleTexColor }};
  	border-radius: 8px;
  	cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-weight: bold;
}
.main-faq .main-tab-label:hover{
    background-color: {{ faqColor.backgroundTitleActiveColor }};
}
.main-faq .main-tab-toggle:checked ~ .main-tab-label{
  	border-radius: 0 !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    background-color: {{ faqColor.backgroundTitleActiveColor }};
}
.main-faq .main-tab-label::after{
    content: '\276F';
    transition: all .4s;
}
.main-faq .main-tab-toggle:checked ~ .main-tab-label::after{
    transform: rotate(90deg);
}
.main-faq .main-tab-content{
    background-color: {{ faqColor.backgroundDescriptionColor }};
  	border-radius: 8px;
    max-height: 0px;
    overflow: hidden;
    transition: all .4s;
    padding: 0 1em;
  	text-align: left;
}
  .main-faq .main-tab-content p{
    
  	color: {{ faqColor.descriptionTextColor }};
    
  }
.main-faq .main-tab-toggle:checked ~ .main-tab-content{
  	border-radius: 0 !important;
  	border-bottom-right-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    max-height: 100vh;
    padding: 1em;

}
</style>



<section class="main-faq-section">
  	<div class="main-faq">
  		{% for block in section.blocks %}
      	{% assign faqItems = block.settings %}
      	<div class="main-tab">
          <input type="checkbox" id="{{ block.id }}" class="main-tab-toggle">
          <label for="{{ block.id }}" class="main-tab-label">{{ faqItems.faqTitle }}</label>
          <div class="main-tab-content">
            {{ faqItems.faqDescription }}
          </div>
  		</div>
      	{% endfor %}
	</div>
</section>

{% schema %}
  {
	"name": "Faq",
	"settings": [
		{
			"type": "color",
            "id": "backgroundColor",
            "default": "#fff",
            "label": "Background Color"
		},
		{
			"type": "color",
            "id": "backgroundTitleColor",
            "default": "rgb(9, 111, 145)",
            "label": "Background Title Color"
		},
		{
			"type": "color",
            "id": "backgroundTitleActiveColor",
            "default": "rgb(8, 36, 73)",
            "label": "BackgroundTitle Active Color"
		},
		{
			"type": "color",
            "id": "backgroundDescriptionColor",
            "default": "#fff",
            "label": "Background Description Color"
		},
		{
			"type": "color",
            "id": "titleTexColor",
            "default": "#fff",
            "label": "Title Text Color"
		},
		{
			"type": "color",
            "id": "descriptionTextColor",
            "default": "#333",
            "label": "Description Text Color"
		}
		
	],
    "blocks": [
		{
			"name": "Mobile Faq",
			"type": "faq",
			"settings": [
				{
					"type": "text",
					"id": "faqTitle",
					"label": "Title",
					"default": "how to ibrahim"
				},
                {
                  "type": "richtext",
                  "id": "faqDescription",
                  "label": "Discription"
                }
			] 
		}
	],
    "presets": [
      {
        "name": "Faq"
      }
    ]
  }
{% endschema %}